<div class="container-fluid">
    <div class="container-fluid">
        <div class="card text-center row mb-5 mt-5">
            <div class="card-header">
                <h3>Bienvenid&#64; a Hotel Monteverde!</h3>
            </div>
            <div class="card-body">
              <p class="card-text">Explora en nuestra web, y visualiza las sedes de Hotel Monteverde alrededor del mundo</p>
              <div class="container-fluid buttons-container">
                    <a routerLink="/sedes" class="btn btn-primary">Ver sedes</a>
              </div>
            </div>  
            <div class="card-footer text-muted">
              Cantidad de sede(s): <ng-container *ngIf="!isLoading">{{sedes.length}}</ng-container>
            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <div class="spinner-wrapper">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
        </ng-container>
    
        <div class="row home-wrapper" *ngIf="!isLoading">
            <ng-container *ngFor="let sede of sedes">
                <div class="card-wrapper">
                    <app-hotel-card [sede]="sede"></app-hotel-card>
                </div>
                
            </ng-container>
        </div>
    </div>

</div>