<app-home></app-home>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>País</th>
            <th>Dirección</th>
            <th>Aforo</th>
            <th>Pisos</th>
        </tr>

    </thead>
    <tbody>
        <ng-container *ngIf="!isLoading">
            <tr *ngFor="let reservation of sedes">
                <td>{{reservation.name}}</td>
                <td>{{reservation.country}}</td>
                <td>{{reservation.adress}}</td>
                <td> {{reservation.capacity}} </td>
                <td>{{reservation.floorNumber}}</td>
            </tr>
        </ng-container>

        <ng-container *ngIf="isLoading">
            Cargando...
        </ng-container>

    </tbody>
</table>
